<div class="sidebar">
    
    <div class="logo">
        <img src="/imgs/logo.png" alt="Logo" class="building-icon">
    </div>
    <nav >
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/Communities">Communities</a></li>
            <li><a href="/admin/community-managers">Community Managers</a></li>
            <li><a href="/admin/staff-management">Users</a></li>
            <li><a href="/admin/applications">Interest Applications</a></li>
            
            <li><a href="/admin/payments">Payments</a></li>
            <li><a href="profile">Profile Management</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
</div>