<nav
  class="d-flex align-items-center pt-2 justify-content-between bg-white"
  style=" padding-left: 20px;"
>

  <button class="menu-toggle d-xl-none">
    <i class="bi bi-list"></i>
  </button>

  <div class=" pb-1">
    <img src="../imgs//Logo copy.png" alt="Logo"  />
  </div>
  <ul class="d-flex gap-3 align-items-center list-unstyled mobile-menu">
    <li class="px-2  <%= path ==='d' ? "Nactive" : "" %>"><a href="/security/dashboard" style="text-decoration: none;color: inherit;">Dashboard</a></li>
      <li class="px-2  <%= path ==='vm' ? "Nactive" : "" %>"><a href="/security/visitorManagement" style="text-decoration: none;color: inherit;">Visitor management</a></li>
      <li class="px-2  <%= path ==='pa' ? "Nactive" : "" %>"><a href="/security/preApproval" style="text-decoration: none;color: inherit;">Pre Approvals</a></li>
      <li class="px-2  <%= path ==='pr' ? "Nactive" : "" %>"><a href="/security/profile" style="text-decoration: none;color: inherit;">Profile</a></li>
      
  </ul>
  <div class="log-out-con  d-flex justify-content-around align-items-center" style="position: relative;">
  

  <button class="log-out btn btn-warning p-2">
    <i class="bi bi-box-arrow-right me-1"></i>Logout
  </button>
</div>
</nav>
<script>
  document.querySelector(".log-out").addEventListener("click", () => {
  window.history.replaceState(null, '', '/');
    window.location.href = "/logout";
  });
</script>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Loader Example</title>
<style>
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .loader-container {
    position: relative;
    width: 130px;
    height: 130px;
  }

  /* Static White Ring */
  .base-ring {
    width: 130px;
    height: 130px;
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 0;
  }

  /* Rotating Orange Arc */
  .ring {
    width: 130px;
    height: 130px;
    border: 10px solid transparent;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 1;
  }

  /* Centered Logo */
  .logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 2;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>


</head>
<body>

 <!-- Loader HTML -->
<div style="display: none;" id="loader">
  <div class="loader-container">
    <div class="base-ring"></div>  <!-- Static white ring -->
    <div class="ring"></div>       <!-- Rotating orange arc -->
    <img src="/imgs/logo_.png" alt="Logo" class="logo" /> <!-- Your logo -->
  </div>
</div>


  

</body>
</html>
