<nav class="d-flex align-items-center pt-2 bg-white" style="font-size: 20px; padding-left: 100px; gap: 100px">
        <div class="pe-5 pb-1">
            <img src="../imgs/Logo copy.png" alt="Logo" height="40px" />
        </div>
        <ul class="d-flex pt-3 gap-4 align-items-center list-unstyled">
            <li class=" px-2  <%= path ==='d' ? "Nactive" : "" %>"><a style="text-decoration: none;color: inherit;" href="/worker/dashboard">Dashboard</a></li>
            <li class=" px-2  <%= path ==='t' ? "Nactive" : "" %>"><a style="text-decoration: none;color: inherit;" href="/worker/tasks">Tasks</a></li>
            <li class=" px-2  <%= path ==='H' ? "Nactive" : "" %>"><a style="text-decoration: none;color: inherit;" href="/worker/history">History</a></li>
            <li class=" px-2  <%= path ==='pr' ? "Nactive" : "" %>"><a style="text-decoration: none;color: inherit;" href="/worker/profile">Profile</a></li>
        </ul>
    </nav>